<html>
	<head>
		<link rel="shortcut icon" href="{{baseUrl}}static/img/favicon.ico"/>
		<link href="{{baseUrl}}static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    		<link rel="stylesheet" type="text/css" media="screen" href="{{baseUrl}}static/css/bootstrap-datetimepicker.min.css">
		<style type="text/css">
			body
			{
				background: #c0e2e4;
				background-image: url('{{baseUrl}}static/img/bkg{{ "12345" | random }}.png');
				background-repeat: no-repeat;
				background-position: bottom left;
			}
		</style>
	    <link rel="stylesheet" type="text/css" media="screen" href="{{baseUrl}}static/css/main.css">
		
	{% block extrahead %}
		{% endblock %}
    	</head>
	<body>
		<div>
			<ul class="header">
				{%if user.is_authenticated%}
					<li class="topbar"><a class="header" href="{{baseUrl}}logout">Logout</a></li>
					<li class="topbar"><a class="header" href="{{baseUrl}}reg_con">Register Conference</a>
					<li class="topbar"><a class="header" href="{{baseUrl}}profile">Profile</a>
					{%if user.is_superuser%}
						<li class="topbar"><a class="header" href="{{baseUrl}}invite">Manage Invites</a>
						<li class="topbar"><a class="header" href="{{baseUrl}}manage_users">Manage Users</a>
					{%endif%}
				{%else%}
					<li class="topbar"><a class="header" href="{{baseUrl}}login">Login</a></li>
					<li class="topbar"><a class="header" href="{{baseUrl}}register">Register</a></li>
				{%endif%}
			</ul>
		</div>
		<br>
		<div class="container" id="PageContainer">
			{% block content %}
			{% endblock %}
			
			<p />&nbsp;<p />&nbsp;<p />
				
			<br href="http://tinyurl.com/androkon">Androkon</a> was created by <a href="http://ianfhunter.com/">Ian Hunter</a><br />
			Web Interface provided by 'Flying Mongooses'
			<p /><a href="http://knowyourmeme.com/memes/nyoron">What's with the girl?</a>

		</div>

	</body>
</html>
